.cart {
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.cartCtn {
  width: 80%;
  display: flex;
}
.cartList {
  flex: 4;
}

.cart aside {
  flex: 1;
  border: 1px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions {
  margin-top: 1rem;
}
.actions button {
  margin: 0 1rem;
}
