.container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.order {
  width: 50%;
  height: 100%;
  padding: 7rem;
  color: white;
  background-color: green;
}
.orderBtn {
  background-color: brown;
  border-color: brown;
}
