.container {
  width: 90%;
  /* height: 100vh; */
  margin-top: 10rem;
  background-color: #fff;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
}

@media screen and (min-width: 1285px) {
  .container {
    width: 50%;
  }
}
