.productsList {
  display: grid;
  grid-gap: 2rem 3rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .productsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .productsList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .productsList {
    grid-template-columns: repeat(4, 1fr);
  }
}
