.itemDetail {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.image {
  width: 100%;
  height: 70%;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.info .button {
  margin-top: 2rem;
  padding: 0 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: grey;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .itemDetail {
    height: 50vh;
    flex-direction: row;
    gap: 2rem;
  }
}
