@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

:root {
  /* --primary: #3f3f3f; */
  --primary: #ffff;

  --mainFont: "Noto Sans JP", sans-serif;
  --secondary: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/** Global styling **/
body {
  align-items: center;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1.6rem; /* hack 1rem = 10px*/
  font-family: var(--mainFont);
  line-height: 1.5;
}
p {
  font-size: 1.8rem;
}
a {
  text-decoration: none;
}

h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
